@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(246, 238, 255);
}

.lg_btn {
    display: block;
    min-width: 150px;
    width: 19vw;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
    text-decoration: none;
    color: black;
}

.lg_btn:hover {
    background: rgb(198, 250, 253);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.headerImg {
    width: 20vh;
    width: 40vw;
}

.page_header.inner {
    font-size: 8vw;
    height: 10vw;
    width: 19vw;
    border-radius: 3px;
}

.outer {
    width: 100vw;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.immo_img {
    width: 30px;
    height: 30px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: rgb(80, 80, 80);
    color: white;
}