/* main */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(246, 238, 255);
}

.lg_btn {
    display: block;
    min-width: 150px;
    width: 19vw;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
    text-decoration: none;
    color: black;
}

.lg_btn:hover {
    background: rgb(198, 250, 253);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.headerImg {
    width: 20vh;
    width: 40vw;
}

.page_header.inner {
    font-size: 8vw;
    height: 10vw;
    width: 19vw;
    border-radius: 3px;
}

.outer {
    width: 100vw;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.immo_img {
    width: 30px;
    height: 30px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: rgb(80, 80, 80);
    color: white;
}

/*updated*/

/* layout */

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 40px;
    font-size: 16px;
    line-height: 26px;
}

.site {
    background-color: #f1f1f1;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* =Elements
  ---------------------------*/

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 26px;
}

p {
    margin-bottom: 26px;
}

p:last-child {
    margin-bottom: 0;
}

/* =Header
  ---------------------------*/

.site-header {
    padding: 40px;
    text-align: center;
}

.site-title {
    margin: 0;
}

@media (min-width: 800px) {
    .site-title {
        float: left;
    }
}

/* =Navigation
  ---------------------------*/

.site-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    padding: 0 20px;
}

.site-navigation a:hover {
    color: #5ad67d;
}

@media (min-width: 800px) {
    .site-navigation {
        float: right;
    }
    .site-navigation a {
        padding: 0 0 0 20px;
    }
}

/* =Content
  ---------------------------*/

.content-wrapper {
    padding: 40px;
}

/* =Footer
  ---------------------------*/

.site-footer {
    background-color: #333;
    color: white;
    overflow: hidden;
    padding: 40px;
}

@media (min-width: 800px) {
    .site-footer {
        clear: both;
    }
    .site-footer .column {
        width: 32%;
        float: left;
        padding-right: 2%;
        margin-bottom: 2%;
    }
    .site-footer .column.last {
        padding-right: 0;
    }
}

/* immocard*/

* {
    box-sizing: border-box;
}

body {
    /*background: #f1f1f1;*/
    margin: 2rem;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/fa-solid-900.eot");
    src: url("fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.woff") format("woff"), url("fonts/fa-solid-900.ttf") format("truetype"), url("fonts/fa-solid-900.svg?#fontawesomeregular") format("svg");
}

.immo-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.immo-card a {
    color: inherit;
}

.immo-card a:hover {
    color: #5ad67d;
}

.immo-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg);
}

.immo-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.immo-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.immo-card .details, .immo-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.immo-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.immo-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.immo-card .details ul li {
    display: inline-block;
}

.immo-card .details .agent:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
}

.immo-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}

.immo-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.immo-card .details .tags li {
    margin-right: 2px;
}

.immo-card .details .tags li:first-child {
    margin-left: -4px;
}

.immo-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.immo-card .description h1, .immo-card .description h2 {
    font-family: Poppins, sans-serif;
}

.immo-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    float: left;
}

.immo-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    /*text-transform: uppercase;*/
    color: #a2a2a2;
    margin-top: 5px;
    clear: both;
}

.immo-card .description .read-more {
    text-align: right;
}

.immo-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}

.immo-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.immo-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.immo-card p {
    position: relative;
    margin: 1rem 0 0;
}

.immo-card p:first-of-type {
    margin-top: 1.25rem;
}

.immo-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.immo-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .immo-card {
        flex-direction: row;
        max-width: 900px;
    }
    .immo-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .immo-card .description {
        flex-basis: 60%;
    }
    .immo-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .immo-card.alt {
        flex-direction: row-reverse;
    }
    .immo-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }
    .immo-card.alt .details {
        padding-left: 25px;
    }
}

/* css only read more */

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-wrap {
    margin: 0 0 1rem;
}

.read-more-state~.read-more-wrap p::after {
    content: "...";
}

.read-more-state:checked~.read-more-wrap p::after {
    content: "";
}

.read-more-state~.read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    text-decoration: underline;
    /*margin: 1rem 0 0;*/
    text-align: right;
    cursor: pointer;
    color: #5ad67d;
    display: inline-block;
    position: relative;
    float: right;
}

.immo-card .read-more-trigger:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.immo-card .read-more-trigger:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.watch-icon, .watch-icon-active {
    float: right;
}

.watch-icon a, .watch-icon-active a {
    text-decoration: none;
}

.watch-icon a::after, .watch-icon-active a::after {
    font-family: FontAwesome;
    content: "\f004";
    color: #ccc;
}

.watch-icon a:hover::after, .watch-icon-active a::after {
    color: red;
}

.header {
    clear: both;
}

.price {
    float: left;
}

.price span {
    font-weight: bold;
    font-size: 20px;
}

/* Pagination */

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* watchlist dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -85px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* modal */

.modal-window {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    color: #333333;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #333333;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

/* login/register */

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}